<h1>Add Event</h1>

<form method="post">
    <label>Event Name</label>
    <input name="Name" type="text" />
    <label>Event Descripiton</label>
    <input name="Description" type="text" />
    <input type="submit" value="Add Event" />
</form>