<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>
@if (ViewBag.Events.Count == 0)
{
    <p>No Events Yet!</p>
}
else
{

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
        </tr>
        @foreach (var evt in ViewBag.events)
        {
            <tr>
                <td>@evt.Name</td>
                
            </tr>
        }
    </table>
}

